node_modules
dist
out
coverage
*.tgz
*.log
*.lcov
.cache
.tsbuildinfo
.eslintcache
.idea
.DS_Store
.env
.env.*
.docker
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
.test
