PORT=8000
ENDPOINT=http://localhost:8000
DEBUG_MODE=true
DB_URI=
JWT_SECRET=
JWT_EXPIRES=24h
BCRYPT_SALT_ROUNDS=10
SESSION_SECRET=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_HOOK_ENDPOINT=
TWILIO_WHATSAPP=
TWILIO_PHONE_NUMBER=