PORT=8000
ENDPOINT=http://localhost:8000
DEBUG_MODE=true
DB_URI=mongodb://localhost:2727
JWT_SECRET=super-secret-jwt64b-token-here
JWT_EXPIRES=24h
BCRYPT_SALT_ROUNDS=10
SESSION_SECRET=

TWILIO_ACCOUNT_SID=ACddxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=1cxxxxxxxxxxxxxxxxxxxxx
TWILIO_HOOK_ENDPOINT=https://local-tunnel.xyz-service.com
TWILIO_WHATSAPP=whatsapp:+9162xxxxxx
TWILIO_PHONE_NUMBER=+9162xxxxxxxxx